{
  "env": {
    "development": {
      "plugins": ["@babel/plugin-external-helpers"],
      "presets": [
        ["@babel/preset-env", {
          "modules": false,
          "targets": { "browsers": [">0.25% in US"] }
        }],
        ["@babel/preset-typescript"]
      ]
    },
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": "current" }
        }],
        ["@babel/preset-typescript"]
      ]
    }
  }
}
